{% extends "template.html" %}

{% block header %}
  <title>Stock-Topia</title>
{% endblock %}

{% block content %}
  <div id="stock-container">
    <div id="chartContainer">
      <div id="myChart"></div>
    </div>
    <div class="stock-div container-fluid">
      <div id="stock-row" class="row">
        {% for stock in stocks %}
          <button id="{{ stock.symbol }}" val="{{ stock.symbol }}" class="stocks col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <p class="stocks-title">{{ stock.symbol }}</p>
          </button>
        {% endfor %}
      </div>
    </div>
    <div id="stocksFormDiv" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div id="addStocksForm">
          <input id="stockInput" type="text" class="form-control" name="stocksInput" value="" placeholder="stock code" autocomplete="off">
          <button id="addStockBtn" type="submit" class="btn btn-primary" style="width: 100%">Add</button>
          <!-- <p class="error_msg">Incorrect or not existing stock code</p> -->
      </div>
    </div>
  </div>
  <footer>
    <p id="copyright">@dannythedeveloper</p>
  </footer>
{% endblock %}
