{% extends "template.html" %}

{% block header %}
  <title>Stock-Topia</title>
{% endblock %}

{% block content %}
  <div id="stock-container">
    <div id="chartContainer">
      <div id="myChart"></div>
    </div>
    <div class="stock-div container-fluid">
      <div class="row">
        {% for stock in stocks %}
          <div class="stocks col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <p class="stocks-title">
              <a href="/stocks/delete/{{ stock.symbol }}" class="stocks-symbols-links">
                {{ stock.symbol }}
              </a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="stocksFormDiv" class="stocks col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <form id="addStocksForm" action="/stocks/add" method="POST">
          <input type="text" class="form-control" name="stocksInput" value="" placeholder="stock code">
          <button id="addStockBtn" type="submit" class="btn btn-primary" style="width: 100%">Add</button>
      </form>
    </div>
  </div>
  <footer>
    <p id="copyright">@dannythedeveloper</p>
  </footer>
{% endblock %}
