#stock-container {
  padding: 25px 15px;
  margin: 15px 75px;
  background-color: #BFBFBF;
}
.stock-div {
  margin: 10px 0;
}
.stocks {
  border: 2px solid #f1f1f1;
  border-left: 7px solid #f1f1f1;
  background-color: #FFFFFF;
  margin: 1px 0;
  height: 195px;
  cursor: pointer;
}
.stocks:hover {
  border: 2px solid red;
  border-left: 7px solid red;
}
.stocks:focus {
  outline: 0;
}
#copyright {
  text-align: center;
}
#stocksFormDiv {
  border: 2px solid green;
  border-left: 7px solid green;
  background-color: #FFFFFF;
  margin: 1px 0;
  height: 195px;
  cursor: pointer;
}
#addStocksForm {
}
input[name=stocksInput] {
  letter-spacing: 3px;
}
.stocks-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.stocks-description {
  color: grey;
  letter-spacing: 1px;
}
#chartContainer {
  height: 400px;
}
#myChart {
  height: 400px;
  width: 100%;
}
